<div id="layout-content">
  <div>
    <app-menubar-grocer></app-menubar-grocer>
  </div>
  <div class="ui-g-1 margen">
  </div>


<div class="ui-g-6 center-table">
<p-table #dt [columns]="cols" [value]="materials" selectionMode="single" [(selection)]="selectedMaterial" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Búsqueda" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Agregar item"></button>
        </div>
    </ng-template>
</p-table>
</div>

<p-dialog header="Detalle inventario" [(visible)]="displayDialogNew" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="material">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sku">SKU</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="sku" [(ngModel)]="material.sku" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Nombre</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="material.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Marca</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="material.brand" />
            </div>
        </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-save" (click)="addMaterial()" label="Guardar"></button>
            </div>
    </p-footer>
</p-dialog>


<p-dialog header="Detalle inventario" [(visible)]="displayDialogEdit" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="material">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">SKU</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="sku" [(ngModel)]="material.sku" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Nombre</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="material.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="status">Marca</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="material.brand" />
            </div>
        </div>
            <div class="ui-g-12">
            <p-table [columns]="cols2" [value]="stockWH" selectionMode="single" [(selection)]="selectedStock" (onRowSelect)="onRowSelectWHStock($event)">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col.header}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                      <td *ngFor="let col of columns">
                          {{rowData[col.field]}}
                      </td>
                  </tr>
              </ng-template>
              </p-table>
            </div>

    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-close" (click)="deleteMaterial2()" label="Borrar"></button>
                <button type="button" pButton icon="fa fa-save" (click)="addMaterial()" label="Guardar"></button>
                <!--
                <button type="button" pButton icon="fa fa-check" (click)="acquire()" label="Adquirir"></button>
                <button type="button" pButton icon="fa fa-reply" (click)="showWithdraw()" label="Retirar"></button> -->
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmar" [(visible)]="displayDialogEDelete" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
  <div class="ui-g ui-fluid" *ngIf="material">
    <div class="ui-g-8 center">
        ¿Seguro que desea eliminar {{material.name}}?
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="deleteMaterial()" label="Borrar"></button>
    </div>
</p-footer>
</p-dialog>

<p-dialog header="Adquirir artículo" [(visible)]="displayAcquire" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="material">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">SKU:</label>
            </div>
            <div class="ui-g-8">
                {{material.sku}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Nombre:</label>
            </div>
            <div class="ui-g-8">
                {{material.name}}
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="qty">Cantidad:</label>
        </div>
        <div class="ui-g-8">
            <p-spinner [(ngModel)]="qtyAcquire"></p-spinner>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="name">Destino</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown [options]="warehouse" [(ngModel)]="newDestination" placeholder="Seleccione destino" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="qty">Comentarios:</label>
        </div>
        <div class="ui-g-8">
            <textarea  [rows]="3" pInputTextarea [(ngModel)]="comentsAcquire"></textarea>
        </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-close" (click)="cancelAcquire()" label="Cancelar"></button>
                <button type="button" pButton icon="fa fa-check" (click)="createAcquire()" label="Comprar"></button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Retirar articulo" [(visible)]="displayWithdraw" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="material">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">SKU:</label>
            </div>
            <div class="ui-g-8">
                {{material.sku}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Nombre:</label>
            </div>
            <div class="ui-g-8">
                {{material.name}}
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid" *ngIf="newWithdraw">
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="qty">Cantidad:</label>
          </div>
          <div class="ui-g-8">
              <p-spinner [(ngModel)]="newWithdraw.qty"></p-spinner>
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="qty">Devolución:</label>
          </div>
          <div class="ui-g-8">
              <p-toggleButton [(ngModel)]="withdrawDev" onLabel="Si" offLabel="No" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100px'}"></p-toggleButton>
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="qty">Comentarios:</label>
          </div>
          <div class="ui-g-8">
              <textarea  [rows]="3" pInputTextarea [(ngModel)]="newWithdraw.coments1"></textarea>
          </div>
      </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" >
                <button type="button" pButton icon="fa fa-close" (click)="cancelWithdraw()" label="Cancelar"></button>
                <button type="button" pButton icon="fa fa-check" (click)="createWithdraw()" label="Retirar"></button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Editar stock" [(visible)]="displayDialogStock" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="material">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">SKU:</label>
            </div>
            <div class="ui-g-8">
                {{material.sku}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Nombre:</label>
            </div>
            <div class="ui-g-8">
                {{material.name}}
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid" *ngIf="selectedStock">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Bodega:</label>
            </div>
            <div class="ui-g-8">
                {{selectedStock.name}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Stock:</label>
            </div>
            <div class="ui-g-8">
                <p-spinner [(ngModel)]="selectedStock.stock"></p-spinner>
            </div>
        </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-save" (click)="editStock()" label="Guardar"></button>
            </div>
    </p-footer>
</p-dialog>
