<div class="ui-g">
  <div class="ui-g-2 menu">
    <app-menubar-grocer></app-menubar-grocer>
  </div>
  <div class="ui-g-1 margen">
  </div>
  <div class="ui-g-6 center-table">


<p-table [columns]="cols" [value]="withdraws" selectionMode="single" [(selection)]="selectedWith" (onRowSelect)="onRowSelect($event)" [autoLayout]="true" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

</p-table>

</div>

<p-dialog header="Detalle retiro" [(visible)]="displayDialogCancel" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="withdraw">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Código retiro</label>
            </div>
            <div class="ui-g-8">
                {{withdraw._id}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Artículo</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.art}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Cantidad</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.qty}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Fecha retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.dateFormat1}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Comentarios retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.coments1}}
            </div>
        </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-close" (click)="cancelWithdraw()" label="Cancelar"></button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Detalle retiro" [(visible)]="displayDialogCancel2" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="withdraw">
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="qty">Comentarios cancelar:</label>
          </div>
          <div class="ui-g-8">
              <textarea  [rows]="3" pInputTextarea [(ngModel)]="withdraw.coments2"></textarea>
          </div>
      </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-close" (click)="cancelWithdraw2()" label="Cancelar"></button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Detalle retiro" [(visible)]="displayDialogEdit" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="withdraw">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Código retiro</label>
            </div>
            <div class="ui-g-8">
                {{withdraw._id}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Artículo</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.art}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Cantidad</label>
            </div>
            <div class="ui-g-8">
                <p-spinner [(ngModel)]="qtyAux"></p-spinner>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Fecha retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.dateFormat1}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Comentarios retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.coments1}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Comentarios devolución:</label>
            </div>
            <div class="ui-g-8">
                <textarea  [rows]="3" pInputTextarea [(ngModel)]="withdraw.coments2"></textarea>
            </div>
        </div>
    </div>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="givebackWithdraw()" label="Devolver"></button>
                <button type="button" pButton icon="fa fa-check" (click)="nogivebackWithdraw()" label="No regresado"></button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Detalle retiro" [(visible)]="displayDialogFinal" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="withdraw">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Código retiro</label>
            </div>
            <div class="ui-g-8">
                {{withdraw._id}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Artículo</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.art}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Cantidad</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.qty}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Fecha retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.dateFormat1}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Comentarios retiro:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.coments1}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Fecha estado final:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.coments2}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="qty">Comentarios estado final:</label>
            </div>
            <div class="ui-g-8">
                {{withdraw.coments2}}
            </div>
        </div>
    </div>
</p-dialog>
